
.container {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background-image: linear-gradient(to top,#8A6828, #F0B446 );
    color: white;
    font-family: Roboto  ;
    font-weight: bold;  
    cursor: pointer;

    /* transition: color 0.5s, background-color 0.5s; */
}

.container:hover {
    background-image: linear-gradient(
                                        to top,
                                        #8A6828, 
                                        #F0B446, 
                                        var(--dourado-1)
                                     );
}

.containerAside {
    padding: 24px 40px;
    border-radius: 5px;
    border: 0;
    background-image: linear-gradient(to top,#8A6828, #F0B446 );
    color: white;
    font-family: Roboto  ;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    
    /* transition: color 0.5s, background-color 0.5s; */
}

.containerAside:hover {
    background-image: linear-gradient(to top,#8A6828, #F0B446, var(--dourado-1) );
}

